
@{
    ViewData["Title"] = "Add new Animal";
}
@*added without model-binding*@
@if (ViewData["Added"] == null)
{
    <h1>Add new Animal</h1>

    <form method="post">
        <div class="form-group">
            <label>Animal Name</label>
            <input class="form-control" type="text" name="Animal_Name" />
        </div>
        <div class="form-group">
            <label>Owners Name</label>
            <input class="form-control" type="text" name="Animals_Owner_Name" />
        </div>
            <label>Animal Breed</label>
            <input class="form-control" type="text" name="Animal_Breed" />
        <div class="form-group">
            <label> Date Dropped Off</label>
            <input class="form-control"  type="date" name="Date_Dropped_Off" />
        </div>
        <input class="btn btn-primary" type="submit" value="Add Animal" />
    </form>
}
else
{ 
    <div  class="alert alert-success" role="alert">@ViewData["Added"]</div>
}

