
@{
    ViewData["Title"] = "Add new Animal";
}

@if (ViewData["Added"] == null)
{
    <h1>Add new Animal</h1>

    <form method = "post">
        <label>Animal Name</label>
        <input type="text" name="Animal_Name" />
        <br />
        <label>Owners Name</label>
        <input type="text" name="Animals_Owner_Name" />
        <br />
        <label>Animal Breed</label>
        <input type="text" name="Animal_Breed" />
        <br />
        <label> Date Dropped Off</label>
        <input type="date" name="Date_Dropped_Off" />
        <br />
        <input type="submit" value="Add Animal" />
</form>
}
else
{ 
    <p>Added Animal Successfully</p>
}

